# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

 **Objectives**

- List popular languages for Data Science
- Enumerate popular libraries for Data Science
- Identify availbale tools for Data Science

## Data Science Languages
Some of the commonly used libraries used by Data Scientists include:

   1. Pyhton
   2. R
   3. SQL
   4. Java
   5. Julia
   6. Scala

## Data Science Libraries
Some of the commonly used libraries used by Data Scientists include:
    
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. ScikitLearn
6. Keras

## Data Science tools:
|Data Science Tools  |
|:----------------:|
|Jupyter Notebook    |
|R                   |
|SQL                 |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

Input = int(input("Enter minutes:"))
Hour = Input//60
Minutes = Input%60

print(Hour, "hours and", Minutes, "minutes")

Enter minutes:200
3 hours and 20 minutes

## Author
----
Abel Lucido